{
    "vim.leader": "<space>",
    "vim.visualModeKeyBindings": [
        { "before": [ ">" ], "commands": [ "editor.action.indentLines" ] },
        { "before": [ "<" ], "commands": [ "editor.action.outdentLines" ] },
        { "before": [ "f", "d" ], "after": [ "<Esc>" ] },
        { "before": [ "leader","t" ], "commands": [ "extension.csv-to-table.custom" ] },
    ],
    "vim.normalModeKeyBindings": [
        { "before": [ "u" ], "commands": [ { "command": "undo" } ] },
        { "before": [ "<C-u>" ], "commands": [ { "command": "redo" } ] },
    ],
    "vim.insertModeKeyBindings": [ ],
    "vim.normalModeKeyBindingsNonRecursive": [
        { "before": [ "," ], "commands": [ "whichkey.show" ] },
        { "before": [ "leader", "v" ], "after": [ "<C-v>" ] }, 
        { "before": [ "g", "b" ], "after": [ "<C-o>" ] }, 
        { "before": [ "g", "f" ], "commands": [ "editor.action.peekDefinition" ] }, 
        { "before": [ "leader", "o" ], "after": [ "o", "<Esc>", "k"] },
        { "before": [ "leader", "O" ], "after": [ "O", "<Esc>", "j"] },
        { "before": [ "leader", "j" ], "after": ["2", "0", "<C-e>", "2", "0", "j"] },
        { "before": [ "leader", "k" ], "after": ["2", "0", "<C-y>", "2", "0", "k"] },
        { "before": [ "leader", "l" ], "after": [ "leader", "leader", "l" ] },
        { "before": [ "leader", "h" ], "after": [ "leader", "leader", "h" ] },
        { "before": [ "leader", ";" ], "after": [ "leader", "leader", "/" ] },
        { "before": [ "leader", "w", "h"], "commands": [ ":tabprev" ]},
        { "before": [ "leader", "w", "l"], "commands": [ ":tabnext" ]},
        { "before": [ "leader", "w", "q"], "commands": [ ":tabclose" ]},
        { "before": [ "leader", "w", "t"], "commands": [ ":tabnew" ]},
        { "before": [ "leader", "w", "o"], "commands": [ ":tabonly" ]},
        { "before": [ "leader", "w", "s"], "commands": [ ":w" ]},
        { "before": [ "leader", "w", "w"], "commands": [ "editor.action.toggleWordWrap" ]},
        { "before": [ "leader", "s", "o"], "commands": [ "outline.focus" ]},
        { "before": [ "leader", "s", "i"], "commands": [ "outline.collapse" ]},
        { "before": [ "leader","s","r" ], "after": ["*",":", "%","s","/","/"] },
    ],
    "vim.visualModeKeyBindingsNonRecursive": [
        { "before": [ "," ], "commands": [ "whichkey.show" ] }
    ],
    "vim.insertModeKeyBindingsNonRecursive": [
        // { "before": ["leader", "v"], "after": ["<Esc>", "<C-v>"] },
        { "before": [ "j", "k" ], "after": [ "<Esc>" ] }, 
        { "before": [ "j", "j" ], "after": [ "<Space>" ] }, 
        { "before": [ "<C-r>" ], "commands": [ { "command": "redo" } ] },
        { "before": ["<C-M>"], "commands": ["closeParameterHints"] },
        { "before": ["<C-m>"], "commands": ["editor.action.triggerParameterHints"] },
    ],
    "vim.operatorPendingModeKeyBindings": [
        { "before": ["L"], "after": ["$"] },
        { "before": ["H"], "after": ["^"] }
    ],
    "vim.easymotion": true,
    "vim.useSystemClipboard": true,
    "vim.handleKeys": { "<C-o>": true, "<C-r>": true, "<C-c>": false, "<C-u>": true},
    "vim.surround": true,
    "vim.useCtrlKeys": false,
    "vim.hlsearch": true,
    "workbench.editorAssociations": {
        "*.ipynb": "jupyter-notebook",
        "*.mind": "default"
    },
    "jupyter.askForKernelRestart": false,
    "editor.accessibilitySupport": "off",
    "notebook.markup.fontSize": 13,
    "notebook.cellFocusIndicator": "border", 
    "autoDocstring.docstringFormat": "google-notypes",
    "workbench.startupEditor": "none",
    "todohighlight.keywords": [
        {"text": ">>>", "backgroundColor": "#f231210", "color": "orange"},
        {"text": "###", "backgroundColor": "#f052710", "color": "green"},
        {"text": "#!", "backgroundColor": "#f062710", "color": "blue"},
        {"text": "!!", "backgroundColor": "#f0231210", "color": "red"},
        {"text": "ISSUE", "backgroundColor": "#f05240", "color": "white"},
        {"text": "SOLVED", "backgroundColor": "green", "color": "white"},
        {
            "text": "#tag", "backgroundColor": "#ffab00", "color": "green", 
            "isWholeLine": true, "overviewRulerColor": "#ffab00",
        },
    ],
    "explorer.confirmDragAndDrop": true,
    "workbench.colorCustomizations": {
        "symbolIcon.om_TagForeground": "#033303d9",
    },
    "files.enableTrash": true,
    "security.workspace.trust.untrustedFiles": "open",
    "editor.minimap.enabled": false,
    "outline-map.workspace.enabled": false,
    "outline-map.defaultMaxDepth": 2,
}