"vim.useSystemClipboard": true,
"vim.useCtrlKeys": true,
"vim.handleKeys": {
  "<C-c>": false,
  "<C-v>": false,
  "<C-w>": false,
  "<C-o>": true,
},
"vim.leader": ",",
"vim.easymotion": true,
"vim.insertModeKeyBindingsNonRecursive": [
  {
    "before": ["<C-j>"],
    "after": ["<down>"]
  },
  {
    "before": ["<C-k>"],
    "after": ["<up>"]
  },{
    "before": ["<C-l>"],
    "after": ["<right>"]
  },
],
"vim.normalModeKeyBindingsNonRecursive": [
  {
    "before": ["<C-j>"],
    "after": ["<leader>", "<leader>", "j"]
  },
  {
    "before": ["<C-k>"],
    "after": ["<leader>", "<leader>", "k"]
  },
  {
    "before": ["z", "j"],
    "after": ["o", "<Esc>", "k"]
  },
  {
    "before": ["z", "k"],
    "after": ["O", "<Esc>", "j"]
  },
  {
    "before": ["C-u"],
    "after": ["C-r"]
  },
  {
    "before": ["H"],
    "after": ["^"]
  },
  {
    "before": ["L"],
    "after": ["$"]
  },
  {
    "before": ["K"],
    "after": ["a", "<Enter>", "<Esc>", "k", "$"]
  }
]
